[Desktop Entry]
Type=Application
Name=Chrome Wayland
Exec=google-chrome-stable --force-dark-mode --enable-features=UseOzonePlatform --ozone-platform=wayland
Icon=chrome
